/* General styles */
body {
    font-family: 'BodyFont', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #acacac;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: 'GameFont', sans-serif;
    color: #333;
}

h2 {
    color: #333;
    font-size: 1.5em;
    text-align: center;
}

section {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 1em;
    line-height: 1.5;
    color: #666;
}

ol {
    margin-left: 20px;
    list-style-type: decimal;
}

ul {
    margin-left: 20px;
    list-style-type: square;
}

footer {
    background-color: #acacac;
    padding: 10px;
    text-align: center;
    color: white;
}

iframe {
    display: block;
    margin: 0 auto;
    border: 2px solid #acacac;
    border-radius: 8px;
}

.images img {
    margin: 10px;
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px 14px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}